



/*      Body Variables    */

$robot: 'Roboto', sans-serif;
$eg-bold : Eigerdal-bold;
$eg-medium: Eigerdal-medium;
$fw : 400;
$normal-fs: 16px;
$body-color: #000;
$body-line-height: 30px;
$body-transition: 0.3s all ease-in-out;


/*     Color Variables    */

$color1:#fa2d1f;
$color2:#b5b35d;
$color3: #ce2027;
$color4: #1b1a1a;
$color5: #ebebeb;
$color6: #8d8d8d;
$color7: #000;
$color8: #d3d19e;
$color9: #f9ecd4;
$color10: #606060;
$color11: #fff;
$color12: #212121;

/*     Responsiveness BreakPoinnts Variables     */

$breakpoint-xl : 1200px;
$breakpoint-lg : 1024px;
$breakpoint-md : 991px;
$breakpoint-sm : 767px;
$breakpoint-xm : 576px;
$breakpoint-xm1 : 470px;
$breakpoint-xm2 : 376px;